html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    font-family: "Poppins", serif;
}

html,
body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

:root {
    --text-color: #000;
    --primary-color: #228b22;
    --secondary-color: #f5f5dc;
    --white-color: #ffffff;
    --subheading: #4c4c4c;
}

.header_section {
    background: linear-gradient( 175deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 220, 1) 100%);
    padding-top: 85px;
}

.nav_br_bg {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    box-shadow: -2px 3px 10px 0px rgb(0 0 0 / 0.2);
    padding: 5px 10px 5px 10px;
    backdrop-filter: blur(8px) saturate(120%);
    -webkit-backdrop-filter: blur(8px);
}

.navbar-nav li {
    margin-right: 10px;
}

.navbar-nav li a {
    color: var(--text-color);
    font-size: 17px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--text-color);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary-color);
}

.h_logo {
    margin-left: 10px;
}

.btn_primary {
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 10px 17px 10px 17px;
    transition: 0.3s all;
    color: var(--secondary-color);
}

.btn_primary:hover {
    box-shadow: 0 9px 10px 0px rgba(34, 139, 34, 0.4);
}

.header_left {
    margin-top: 60px;
}

.tag_line {
    background-color: rgba(34, 139, 34, 0.4);
    width: 295px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--text-color);
}

.header_heading {
    margin-top: 20px;
}

.header_heading h1 {
    font-size: 66px;
    font-weight: 700;
}

.header_heading h1 span {
    color: var(--primary-color);
}

.header_heading p {
    color: var(--subheading);
    font-size: 16px;
    margin-top: 15px;
}

.header_heading ul {
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.header_heading ul li {
    list-style: none;
    display: flex;
    margin-right: 17px;
    align-items: center;
}

.header_heading ul li p {
    font-size: 16px;
    color: var(--text-color);
    margin-left: 10px;
    margin-top: 0px;
}

.cta {
    margin-top: 20px;
}

.btn_sec {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 8px 17px 9px 17px;
    background-color: transparent;
    transition: 0.3s all;
}

.btn_sec:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.sec_padding {
    padding: 90px 0;
}

.sec_heading {
    text-align: center;
    margin-bottom: 50px;
}

.sec_heading h1 {
    font-size: 48px;
    font-weight: 600;
    color: var(--text-color);
}

.sec_heading h1 span {
    color: var(--primary-color);
    position: relative;
}

.sec_heading h1 span::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 16px;
    background-color: rgba(34, 139, 34, 0.3);
    bottom: 5px;
    right: 5px;
}

.sec_heading p {
    font-size: 16px;
    color: var(--subheading);
    margin-top: 15px;
}

.category_list {
    border-radius: 10px;
    border: 1px solid #c7c7c7;
    transition: 0.3s all;
}

.category_list:hover {
    box-shadow: 0 9px 10px 0px rgba(34, 139, 34, 0.4);
}

.category_image {
    position: relative;
}

.category_image img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.category_image span {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 13px;
    padding: 5px 7px 5px 7px;
    border-radius: 100px;
}

.category_detail {
    padding: 20px;
}

.category_detail h2 {
    font-size: 24px;
    color: var(--text-color);
    font-weight: 500;
}

.category_detail p {
    color: var(--subheading);
    font-size: 16px;
    margin-bottom: 15px;
}

.btn_w {
    width: 100%;
}

.btn_w:hover .svg {
    fill: #f5f5dc;
}

.view_all {
    margin-top: 50px;
    text-align: center;
}

.why_choose {
    background-color: #e5ebea;
}

.service_sec {
    padding: 30px;
    border-radius: 10px;
    background-color: var(--white-color);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    transition: 0.3s all;
}

.service_sec:hover {
    background-color: var(--primary-color);
}

.service_sec:hover .service_detail h2 {
    color: var(--white-color);
}

.service_sec:hover .service_detail p {
    color: var(--white-color);
}

.service_icon {
    width: 75px;
    height: 75px;
    background-color: #fdfdf5;
    border: 1px solid #edf0cf;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service_detail {
    margin-top: 20px;
}

.service_detail h2 {
    font-size: 24px;
    color: var(--text-color);
    font-weight: 600;
}

.service_detail p {
    font-size: 16px;
    color: var(--subheading);
}

.impact_bg {
    background: linear-gradient( 177deg, rgba(43, 125, 19, 1) 0%, rgba(109, 145, 46, 1) 100%);
    border-radius: 10px;
    padding: 35px;
}

.impact_heading {
    text-align: center;
    margin-bottom: 40px;
}

.impact_heading h1 {
    text-align: center;
    font-size: 48px;
    color: var(--white-color);
    font-weight: 600;
}

.impact_stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.impactdetail h1 {
    font-size: 36px;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 0;
}

.impactdetail {
    text-align: center;
}

.impactdetail p {
    font-size: 17px;
    font-weight: 400;
    color: var(--secondary-color);
}

.testimonial {
    background-color: #fdfdf5;
    padding: 15px;
    box-shadow: 5px 0 14px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px 30px 30px 0;
}

.swiper-slide {
    padding: 10px 20px 57px 0px;
}

.client_heading {
    display: flex;
    align-items: center;
}

.client_heading img {
    width: 60px;
}

.client_d {
    padding-left: 14px;
}

.client_d h6 {
    margin-bottom: 0;
    color: var(--text-color);
}

.client_d span {
    color: var(--subheading);
}

.client_des {
    margin-top: 10px;
}

.client_des p {
    font-size: 16px;
    color: var(--subheading);
}

.rate_quote {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swiper-pagination-bullet-active {
    background: var(--primary-color);
}

.get_in_touch {
    background-color: var(--secondary-color);
}

.get_in_touch h1 {
    font-size: 48px;
    font-weight: 600;
    color: var(--text-color);
}

.get_in_touch span {
    color: var(--primary-color);
    position: relative;
}

.get_in_touch span::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 16px;
    background-color: rgba(34, 139, 34, 0.3);
    bottom: 5px;
    right: 5px;
}

.get_in_touch p {
    font-size: 16px;
    color: var(--subheading);
    margin-top: 15px;
}

.input_fields {
    margin-top: 25px;
}

.input_fields input {
    width: 100%;
    height: 56px;
    margin-bottom: 17px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 16px;
    color: var(--text-color);
    transition: 0.3s all;
    box-shadow: 5px 0 14px 0px rgba(0, 0, 0, 0.1);
}

.input_fields input:focus {
    outline: var(--primary-color);
    box-shadow: var(--primary-color);
}

.input_fields input:focus-visible {
    outline: var(--primary-color);
    box-shadow: var(--primary-color);
}

.footer {
    background-color: #041812;
    padding-top: 60px;
    padding-bottom: 50px;
}

.f_detail p {
    color: #c5c5c5;
    font-size: 16px;
    margin-top: 10px;
}

.f_detail h1 {
    font-size: 16px;
    font-weight: 600;
    color: var(--white-color);
    margin-bottom: 25px;
}

.f_detail ul {
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.f_detail ul li {
    color: #c5c5c5;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    margin-bottom: 14px;
}

.f_detail ul li a {
    color: #c5c5c5;
    transition: 0.3s all;
}

.f_detail ul li a:hover {
    color: var(--white-color);
}

.socil_link ul {
    display: flex;
    align-items: center;
}

.socil_link ul li {
    margin-bottom: 0;
    margin-right: 10px;
}

.socil_link ul li a {
    width: 35px;
    height: 35px;
    background-color: var(--primary-color);
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.3s all;
}

.socil_link ul li a:hover {
    background-color: var(--text-color);
    border: 2px solid var(--primary-color);
}

.copyright {
    text-align: center;
    background-color: #060b09;
    padding: 20px 0;
}

.copyright p {
    color: #c5c5c5;
    font-size: 14px;
}

.custom-delay {
    animation-delay: 0.5s;
}

.custom-delay2 {
    animation-delay: 0.7s;
}

.custom-delay3 {
    animation-delay: 0.9s;
}

@media (max-width: 1199.98px) {
    .header_heading h1 {
        font-size: 58px;
    }
    .header_heading ul li p {
        font-size: 13px;
    }
    .service_detail h2 {
        font-size: 23px;
    }
    .get_in_touch p {
        margin-top: 7px;
    }
    .input_fields {
        margin-top: 6px;
    }
    .f_detail ul li {
        font-size: 15px;
    }
}

@media (max-width: 991.98px) {
    .header_left {
        text-align: center;
    }
    .tag_line {
        margin: 0 auto;
    }
    .header_heading ul {
        justify-content: center;
    }
    .header_img {
        text-align: center;
    }
    .category_list {
        margin-bottom: 20px;
    }
    .view_all {
        margin-top: 24px;
    }
    .get_in_touch {
        padding-bottom: 50px;
    }
    .sec_padding {
        padding: 75px 0;
    }
    .get_in_touch h1 {
        text-align: center;
    }
    .get_in_touch p {
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 576.98px) {
    .header_left {
        margin-top: 30px;
    }
    .header_heading h1 {
        font-size: 35px;
    }
    .header_heading p {
        font-size: 15px;
    }
    .header_heading ul {
        display: inline-block;
    }
    .header_heading ul li {
        margin-right: 0px;
    }
    .sec_padding {
        padding: 60px 0;
    }
    .sec_heading h1 {
        font-size: 30px;
    }
    .sec_heading p {
        font-size: 15px;
    }
    .category_detail h2 {
        font-size: 20px;
    }
    .category_detail p {
        font-size: 15px;
    }
    .btn_sec {
        font-size: 15px;
    }
    .service_detail h2 {
        font-size: 20px;
    }
    .service_detail p {
        font-size: 15px;
    }
    .impact_heading h1 {
        font-size: 30px;
    }
    .impact_stat {
        display: block;
        text-align: center;
    }
    .impactdetail h1 {
        font-size: 25px;
    }
    .impactdetail p {
        font-size: 16px;
    }
    .impactdetail {
        margin-bottom: 15px;
    }
    .impact_heading {
        margin-bottom: 25px;
    }
    .get_in_touch h1 {
        font-size: 30px;
    }
    .f_detail {
        margin-bottom: 20px;
        text-align: center;
    }
    .socil_link ul {
        justify-content: center;
    }
    .swiper-slide {
        padding: 10px 10px 57px 0px;
    }
}